# Week 2 Quiz
Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.
 
1. Selection and summary statistics: We found the zip code with the highest average house price. What is the average house price of that zip code?

In [8]:
import numpy as np
import graphlab.aggregate as agg
import graphlab
sales = graphlab.SFrame('home_data.gl/')

mean_price_agg=sales.groupby(key_columns='zipcode', operations={'mean_price': agg.MEAN('price')})
idx_max=mean_price_agg['mean_price'].argmax()
zip_max=mean_price_agg[idx_max]['zipcode']
print 'The highest mean price is at zip:'+(zip_max)
print 'The mean price of the zip code is '+str(mean_price_agg[idx_max]['mean_price'])
sales[sales['zipcode']==zip_max].show()

The highest mean price is at zip:98039
The mean price of the zip code is 2160606.6
Canvas is updated and available in a tab in the default browser.

Q2. Filtering data: What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?

In [24]:
cnt=sales[(sales['sqft_living']>=2000) & (sales['sqft_living']<=4000)] .num_rows()
ratio=1.0*cnt/sales.num_rows()*100.0
print 'Ratio='+str(ratio)+'%'

Ratio=42.6641373248%

Cannot use **and** to replace &.

Q3. Building a regression model with several more features: What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?

In [40]:
# Ref http://blog.csdn.net/dingchenxixi/article/details/51763058
train_data, test_data = sales.random_split(0.8, seed=0)
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
my_model = graphlab.linear_regression.create(
    train_data, target='price', features=my_features,validation_set=None) 
#数据集采用train_data，特征量选取my_features里面的，不采用交叉验证 

advanced_features =[
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house               
'grade', # measure of quality of construction               
'waterfront', # waterfront property             
'view', # type of view              
'sqft_above', # square feet above ground                
'sqft_basement', # square feet in basement              
'yr_built', # the year built                
'yr_renovated', # the year renovated                
'lat', 'long', # the lat-long of the parcel             
'sqft_living15', # average sq.ft. of 15 nearest neighbors               
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

advanced_model = graphlab.linear_regression.create(train_data, target='price', 
    features=advanced_features,validation_set=None)#解释同上，只不过advanced_model 的特征量多了点。

import math
ans1=math.sqrt(sum((my_model.predict(test_data)-test_data["price"])**2)/len(test_data)) 
print 'my_model RMSE=' +str(ans1)
#计算my_features的线性回归模型的RMSE，根据上述公式，先得到RSS(残差平方和)：y的估计值与实际值之差的平方之和称为残差平方和，然后除以N(数据集的个数)，开根即可得到RMSE **2表示平方
ans2=math.sqrt(sum((advanced_model.predict(test_data)-test_data["price"])**2)/len(test_data))
print 'advanced_feature RMSE='+str(ans2)
#计算advanced_features的线性回归模型的RMSE
print 'The difference is '+str(abs(ans1-ans2))

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.020000     | 3763208.270523     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.060001     | 3469012.450686     | 154580.940736 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

my_model RMSE=179542.433313
advanced_feature RMSE=156831.116802
The difference is 22711.3165105

### --- Sandbox

In [10]:
sales.head(1)

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 1

Data:
+------------+---------------------------+--------+----------+-----------+-------------+
|     id     |            date           | price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+--------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900 |    3     |     1     |     1180    |
+------------+---------------------------+--------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[1 rows x 21 columns]

In [21]:
sales[sales['sqft_living']>=2000].head(2)

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 2

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[2 rows x 21 columns]

In [22]:
1 & 0

0

## Additional Material
Groupby function: Online movie rating example

In [4]:
import graphlab.aggregate as agg
url = 'https://static.turi.com/datasets/rating_data_example.csv'
sf = graphlab.SFrame.read_csv(url)
sf
user_rating_stats = sf.groupby(key_columns='user_id',
                                operations={
                                    'mean_rating': agg.MEAN('rating'),
                                    'std_rating': agg.STD('rating')
                                })
user_rating_stats

Downloading https://static.turi.com/datasets/rating_data_example.csv to C:/Users/zhensong/AppData/Local/Temp/graphlab-zhensong/14972/3e09cb73-f7fd-4ca0-b980-08dcdb7ee014.csv

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

Parsing completed. Parsed 100 lines in 0.02 secs.

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

Parsing completed. Parsed 10000 lines in 0.026001 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Columns:
	user_id	int
	mean_rating	float
	std_rating	float

Rows: 9852

Data:
+---------+-------------+------------+
| user_id | mean_rating | std_rating |
+---------+-------------+------------+
|  62361  |     5.0     |    0.0     |
|  30727  |     4.0     |    0.0     |
|  40111  |     2.0     |    0.0     |
|  50513  |     4.0     |    0.0     |
|  35140  |     4.0     |    0.0     |
|  42352  |     5.0     |    0.0     |
|  29667  |     4.0     |    0.0     |
|  46242  |     5.0     |    0.0     |
|  58310  |     2.0     |    0.0     |
|  64614  |     2.0     |    0.0     |
+---------+-------------+------------+
[9852 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.